#slider {
    height: 30vw;
    width: 40vw;
    margin: 0 auto;
    left: -2%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    margin: auto;
    background-color: aliceblue;
    width: 50%;
    height: 90%;
    border-radius: 50px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-50%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(50%,0,-100px);
  }
  .button1{
    position: relative;
    top: 210px;
    margin-left: 26%;
  }
  .button1 button{
    padding: 9px 9px;
    border: none;
  }
  .button2{
    margin-left: 67.5%;
    top: -235px;
    position: relative;
  }
  .button2 button{
    padding: 9px 9px;
    border: none;
  }
  .imgCard img{
    width: 50%;
    margin-left: 25%;
    position: relative;
    top: 30px;
  }
  .Comp{
    position: relative;
    top: 50px;
  }
  .Comp h1{
    position: relative;
    text-align: center;
    font-size: 150%;
  }
 
  .Comp h4{
    position: relative;
    top: 15px;
    padding: 0px 20px;
    font-size: 90%;

  }
  .Comp button{
    border: none;
    border-radius:8px ;
    color: white;
    background-color: red;
    padding: 9px 12px;
    margin-left: 90px;
    position: relative;
    top: 30px;
  }
