.Component5{
    top: 110px;
    position: relative;
    height: 38vw;
    width: 32vw;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    margin-left: 32%;
    border-bottom-right-radius:10px ;
    left: 220px;
}
.Component8{
    top: -332px;
    position: relative;
    height: 38vw;
    width: 32vw;
    background-image: url("https://i.pinimg.com/736x/6b/1b/22/6b1b22573f9f3d4bba11a9fa5cb45652.jpg");
    z-index: 10;
   border-top-left-radius:10px ;
    right: 437px;
    background-size: 105%;
    background-position: cover;
    
}

.Component6{
        position: relative;
        height: 10vw;
        width: 40vw;
        background-color: #1888ff;
        margin-top: 50px;
        top: 36px;
}

.signUp a{ 
    text-decoration:  none;
    color: white;
    position: relative;
    top: 25px;
    left: 15px;
    font-size: 110%;
}
.SignUpWithGoogle2 {
    position: relative;
    top: 430px;
    left: 90px;
   
} 

.Input1{
    margin-top: 5px;
}

.Input1 label{
    left: 105px;
    position: relative;
    top: 30px;
}
.Pageregister1 button{
    padding: 9px 138px;
    border: none;
    background-color: black;
    color: white;
    position: relative;
    left: 60px;
    top: 150px;
    z-index: 10;
    border-radius: 5px;
    font-size: 18px;
}

.usernameInput input{
    padding: 15px;
    padding-right:150px;
    border: none;
    display: flex;
    left: 60px;
    position: relative;
    margin-top: 10px;
    top: 87px;
    border-radius: 5px;
}
.usernameInput label{
    left: 61px;
    position: relative;
    top: 90px;
    font-size: 13px;
}
.passwordInput input{
    padding: 15px;
    padding-right:150px;
    border: none;
    display: flex;
    left: 60px;
    position: relative;
    margin-top: 10px;
    top: 90px;
    border-radius: 5px;
    background-color: #fff;

}
.passwordInput label{
    left: 61px;
    position: relative;
    top: 95px;
    font-size: 13px;
}


.SignUptext {
    font-size: 20px;
    position: relative;
    left: 30px;
}
.SignUptext p{
 font-size: 14px;
 position: relative;
 top: 45px;
 left: 37px;
}

.NEwUser{
    position: relative;
    top: 160px;
    left: 55px;
}
.NEwUser a{
    position: relative;
    left: 45px;
    top: -13px;
}