
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

.HomeSection{
    /* background:
        linear-gradient(rgba(30, 31, 31, 0.712), transparent),
        linear-gradient(to top left,rgb(65, 59, 59), transparent),
        linear-gradient(to top right, rgba(52, 53, 53, 0.712), transparent);
    background-blend-mode: screen; */
    background-color: rgb(15, 15, 15);
}

.Heading {
}
.Heading h2{
    color: white;
    font-size: 350%;
    padding-top: 8%;
    margin-left: 36%;
    font-family: 'Raleway', sans-serif;

}
.Heading h1{
    font-size: 320%;
    color: white;
  
   
}
.ElectricH h1{
    margin-left: 25%;
    padding-top: 2%;
    font-family: 'Raleway', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
.ShowR h1{
  
    z-index: 10;
    position: relative;
    bottom: 60px;
    margin-left: 48%;
    font-family: 'Raleway', sans-serif;
}

.ParaH p{
    color: white;
   margin-left:-12% ;
    z-index: 10;
    position: relative;
    bottom: 30px;
    text-align: center;
   
}
.ParaH{
    padding: 0% 28%;
}

.SmallBar{
    position: relative;
    z-index: 10;
    margin-top: 5%;
    margin-left: 5%;
}
.FeaturedText h3{
    color: white;
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
}
.UL ul{
    position: relative;
    z-index: 10;
    bottom:30px;
}
.UL ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-left: 20%;
    
   
   
}
.ULItem{
    text-decoration: none;
    display: flex;
    color: white;
    font-size: 130%;
    font-family: 'Raleway', sans-serif;
   font-weight: 600;
    
}

.HomeSection2{
    background: 
    linear-gradient(rgba(30, 31, 31, 0.712), transparent),
        linear-gradient(to top left,rgb(39, 39, 39), transparent),
        linear-gradient(to top right, rgba(32, 32, 32, 0.712), transparent);
    background-blend-mode: screen;
}
.Product3{
    margin-top: -110px;
}
.Heading1 h2{
    color: white;
    font-size: 350%;
    padding-top: 8%;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;

}
.Heading1 h1{
    font-size: 320%;
    color: white;
  
   
}
.ElectricH1 h1{
    margin-left: 20%;
    position: relative;
    top: -63px;
    font-family: 'Raleway', sans-serif;
}
.ShowR1 h1{
    position: relative;
    top: -50px;
    margin-left: 5%;
    color: rgb(45, 90, 240);
}
.HomeSection3{
background-color: rgba(39, 41, 41, 0.836);
}